body,html {
    overflow-x: hidden;
}

.content .banner{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}
.banner .content-box {
    width: 45%;
    display: flex;
    align-items: center;
}

.banner .content-box.curipira-img h3{
    margin: 0 0 0 80px;
}

.info-body h3{
    margin: 30px 0 30px 0;
}

.info-body .team-display{
    width: 100%;
    /* height: 500px; */
    box-sizing: border-box;
    padding: 0 5% 0 5%;
    background-color: white;

    display: grid;
    grid-template-columns: 50% 50%;
}

.info-body .team-display .member{
    /* width: 50%; */
    box-sizing: border-box;
    padding: 5%;
    height: 300px;
    display: flex;
}

.info-body .team-display .member figure {
    margin: 0;
}

.info-body .team-display .member.mleft{
    flex-direction: row-reverse;
}

.info-body .team-display .member figure img{
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.info-body .team-display .member .member-info {
    margin: 0 5% 0 5%;
    height: 100%;
    display: flex;
    align-items: center;
}

.info-body .team-display .member .member-info h4{
    font-size: 35px;
    color: #103100;
    margin: 0;
}

.member-info p{
    margin-top: 5px;
}
.member.mleft .member-info h4,
.member.mleft .member-info p{
    text-align: right;
}

.info-body .team-display .member .member-info h4.hidden{
    opacity: .2;
    filter: blur(5px);
    transform: translateY(-15px);
    transition: 1s;
}

.info-body .team-display .member figure.hidden{
    opacity: .2;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: 1s;
}

.info-body .team-display .member.mleft figure.hidden{
    transform: translateX(50%);
}

.info-body .team-display .member .member-info h4.show,
.info-body .team-display .member figure.show,
.info-body .team-display .member.mleft figure.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

p {
    color: #545454;
}

.bold-text.curupira {
    width: 100%;
    text-align: center;
    background-color: #A0E870;
    padding: 1% 0 1% 0;
}

.content-why {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10% 0 10%;
}

.curupira-img.hidden{
    opacity: .3;
    transform: perspective(80px) rotateZ(20deg);
    transition: 1s;
}

.curupira-img.show{
    opacity: 1;
    transform: perspective(0) rotateZ(0);
}

.content-why p {
    max-width: 40%;
    font-size: 25px;
}

@media (max-width: 1600px) {
    .info-body .team-display .member .member-info h4{
        font-size: 26px;
    }
}

@media (max-width: 1100px) {
    .banner .content-box.about p{
        font-size: 20px;
    }
}

@media (max-width: 850px) {
    .banner {
        background-color: white;
        display: block;
        height: auto !important;
    }

    .banner .content-box {
        width: 100%;
    }

    .banner .content-box.curipira-img h3{
        width: 100%;
        margin-left: 0;
        text-align: center;
        font-size: 35px;
    }

    .banner .content-box.about {
        text-align: center;
        box-sizing: border-box;
        padding: 0 8px 0 8px;
    }

    .banner .content-box.about p{
        max-width: 100%;
        font-size: 18px;
    }

    .info-body {
        background-color: white !important;
        /* padding-bottom: 40px; */
    }

    .info-body h3{
        /* display: none; */
        font-size: 30px;
        text-align: center;
        width: 100%;
        padding: 3% 0 3% 0;
        background-color: #A0E870;
    }

    .info-body .team-display{
        box-sizing: border-box !important;
        width: 100%;
        padding: 0 5% 0 5%;
        grid-template-columns: 100%;
    }

    .info-body .team-display .member{
        padding: 0;
        height: 150px;
        align-items: center;
    }

    .info-body .team-display .member .member-info h4{
        font-size: 20px;
    }

    .info-body .team-display .member .member-info p{
        font-size: 12px;
    }

    .info-body .team-display .member figure{
        height: 70%;
    }
    .bold-text.curupira {
        display: none;
    }
    .content-why figure img{
        height: 280px;
    }
    .content-why {
        flex-direction: column-reverse;
    }
    .content-why p {
        text-align: center;
        max-width: 100%;
        font-size: 18px;
    }
}